<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rms.mapper.diningTableMapper" >
  <resultMap id="BaseResultMap" type="rms.po.diningTable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="seatnumber" property="seatnumber" jdbcType="VARCHAR" />
    <result column="isfree" property="isfree" jdbcType="BIT" />
    <result column="freeimage" property="freeimage" jdbcType="VARCHAR" />
    <result column="busyimage" property="busyimage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, seatnumber, isfree, freeimage, busyimage
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="rms.po.diningTableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from r_diningtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_diningtable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_diningtable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="rms.po.diningTableExample" >
    delete from r_diningtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="rms.po.diningTable" >
    insert into r_diningtable (id, seatnumber, isfree, 
      freeimage, busyimage)
    values (#{id,jdbcType=INTEGER}, #{seatnumber,jdbcType=VARCHAR}, #{isfree,jdbcType=BIT}, 
      #{freeimage,jdbcType=VARCHAR}, #{busyimage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="rms.po.diningTable" >
    insert into r_diningtable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seatnumber != null" >
        seatnumber,
      </if>
      <if test="isfree != null" >
        isfree,
      </if>
      <if test="freeimage != null" >
        freeimage,
      </if>
      <if test="busyimage != null" >
        busyimage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seatnumber != null" >
        #{seatnumber,jdbcType=VARCHAR},
      </if>
      <if test="isfree != null" >
        #{isfree,jdbcType=BIT},
      </if>
      <if test="freeimage != null" >
        #{freeimage,jdbcType=VARCHAR},
      </if>
      <if test="busyimage != null" >
        #{busyimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="rms.po.diningTableExample" resultType="java.lang.Integer" >
    select count(*) from r_diningtable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update r_diningtable
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.seatnumber != null" >
        seatnumber = #{record.seatnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.isfree != null" >
        isfree = #{record.isfree,jdbcType=BIT},
      </if>
      <if test="record.freeimage != null" >
        freeimage = #{record.freeimage,jdbcType=VARCHAR},
      </if>
      <if test="record.busyimage != null" >
        busyimage = #{record.busyimage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update r_diningtable
    set id = #{record.id,jdbcType=INTEGER},
      seatnumber = #{record.seatnumber,jdbcType=VARCHAR},
      isfree = #{record.isfree,jdbcType=BIT},
      freeimage = #{record.freeimage,jdbcType=VARCHAR},
      busyimage = #{record.busyimage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="rms.po.diningTable" >
    update r_diningtable
    <set >
      <if test="seatnumber != null" >
        seatnumber = #{seatnumber,jdbcType=VARCHAR},
      </if>
      <if test="isfree != null" >
        isfree = #{isfree,jdbcType=BIT},
      </if>
      <if test="freeimage != null" >
        freeimage = #{freeimage,jdbcType=VARCHAR},
      </if>
      <if test="busyimage != null" >
        busyimage = #{busyimage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="rms.po.diningTable" >
    update r_diningtable
    set seatnumber = #{seatnumber,jdbcType=VARCHAR},
      isfree = #{isfree,jdbcType=BIT},
      freeimage = #{freeimage,jdbcType=VARCHAR},
      busyimage = #{busyimage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>